<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка и обработка файлов</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const socket = io.connect();

            socket.on('progress', (data) => {
                const progress = document.getElementById('progress');
                progress.textContent = `Обработано страниц: ${data.processed} из ${data.total}`;
            });

            document.getElementById('uploadForm').addEventListener('submit', async (event) => {
                event.preventDefault();

                // Скрываем элементы
                document.getElementById('files').style.display = 'none';
                event.submitter.style.display = 'none';

                // Показываем прогресс
                document.getElementById('progress').style.display = 'block';

                const files = document.getElementById('files').files;
                const formData = new FormData();

                for (let i = 0; i < files.length; i++) {
                    formData.append('files', files[i]);
                }

                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                if (result.success) {
                    const downloadLink = document.getElementById('downloadLink');
                    downloadLink.href = result.download_url;
                    downloadLink.style.display = 'block';
                } else {
                    alert(result.error);
                }
            });
        });
    </script>
</head>
<body>
<img class="logo" src="/static/img/logo.svg">

    <div class="uploadForm">
        <form  id="uploadForm">
            <input type="file" id="files" name="files" multiple>
            <button type="submit">Загрузить</button>
        </form>
        <div id="progress" style="display: none;">Обработано страниц: 0</div>
        <a id="downloadLink" href="#" style="display: none;">Скачать обработанный файл</a>
    </div>
</body>
</html>