<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Сканер QR-кодов</h1>
        <div id="camera">
            <video id="video" width="640" height="480" autoplay></video>
        </div>
        <button id="start-camera">Включить камеру</button>
        <div id="output"></div>
    </div>
    <script>
const video = document.getElementById('video');
const output = document.getElementById('output');
const startCameraButton = document.getElementById('start-camera');

startCameraButton.addEventListener('click', async () => {
    const stream = await navigator.mediaDevices.getUserMedia({ video: true });
    video.srcObject = stream;
    startScanning();
});

function startScanning() {
    const interval = setInterval(() => {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        canvas.toBlob(async (blob) => {
            const formData = new FormData();
            formData.append('file', blob, 'snapshot.png');
            const response = await fetch('/upload/', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            if (result.status === 'success') {
                output.innerHTML = `Осталось отсканировать чанков: ${result.remaining_chunks}`;
                if (result.remaining_chunks === 0 && result.file_url) {
                    clearInterval(interval); // Остановить сканирование при сборе всех чанков
                    output.innerHTML += `<br><a href="${result.file_url}" download>Скачать собранный файл</a>`;
                }
            } else {
                output.innerHTML = `Ошибка: ${result.message}`;
            }
        }, 'image/png');
    }, 1000); // Сканировать каждые 300 мс (1 секунда)
}
</script>
</body>
</html>